.footer {
    background-color: #20100D;
    font-family: Montserrat;
    position: relative;
    display: flex;
  }
  
  .nomeEmpresa{
    width: 30vw;
    height: 100vh;
    /*display: relative;*/    
  }

  .name-footer{
    background-color: #20100D;
    color:#E5AC23;
    /*position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;*/
  }

  .copyright{
    width: 40vw;
    height: 100vh;
    /*display: flex;*/
  }

  .footer__copyright{
    color: #E5AC23;
    /*align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 1px;*/
  }


  .footer__social{
    width: 30vw;
    height: 100vh;
    /*display: relative;
    flex-direction:line;  
    margin-left: 24em; */
  }

  .footer__social a{
    /*margin-right: 8px;
    justify-content: center;*/
  }



 