.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* PRODUTOS */
.container-products{
  position: relative;
  background: #20100D;
  padding: 0;
  height: 100vh;
}
.container-products .title{
  position: relative;
  color: #ffffff;
  font-family: Sunflower;
  font-style: normal;
  font-weight: 300;
  font-size: 5vw;
  top: 20vh;
  text-decoration-line: underline;
  text-decoration-color: #b89b34;
}
.container-products .slider{
  position: relative;
  padding: 0 10px;
  top: 24vh;
  width: 70%;
  left:15vw;
}
.slider img{
  max-width: 15vw !important;
}
.slider .product-details{
  color: white;
}
.slider .product-details h2 {
  font-family: Montserrat;
  font-size: 2vw;
}
.slider .product-details p {
  font-family: Montserrat;
  color: #b89b34;
  font-size: 1.7vw;
}

/* PRODUTOS */

