/*******************
Table Of Contents:

01. Global
02. Banner
03. Sobre nós
04. Produtos
05. Contato
06. Media
*******************/


/*******************
01. BODY
*******************/

body,
html {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  position: flex;
  scroll-behavior: smooth;
}

/* @media screen and (max-width: 736px) {
   body {
     padding-top: 2.5em;
  }
} */

/*******************
01. HEADER
*******************/

.navbar-custom {
  background-color: #20100D;
  box-shadow: 0 0.0625rem 0.375rem 0 rgb(0, 0, 0);
  font: 600 0.875rem/0.875rem "Sunflower", sans-serif;
  transition: all 0.2s;
}

.navbar-custom .navbar-brand.logo-image img {
  width: 5rem;
}

.navbar-custom .navbar-brand.logo-text {
  color: #da2323;
  text-decoration: none;
}

.navbar-custom .navbar-nav {
  margin-top: 0.75rem;
}

.navbar-custom .nav-item .nav-link {
  padding: 0.625rem 0.75rem 0.625rem 0.75rem;
  color: #C18F1D;
  text-decoration: none;
  transition: all 0.2s ease;
  font-size: 1.5rem;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
  color: #fffdfd;
}

.navbar {
  padding: 0 2rem 0 2rem;
}

.fixed-top {
  position: absolute;
}


/*******************
02. BANNER
*******************/

.react-slideshow-container {
  margin: 0rem;
}

.containerBanner {
  width: 100%;
  margin: auto;
  background: #f2e6d6;
}

.containerBanner img {
  width: 100%;
  height: 65vh;
  margin: 0;
}


@media only screen and (max-width: 425px) {
  
  .containerBanner img {
    width: 100%;
    height: 30vh;
    margin: 0;
  }

}



/*******************
03. SOBRE NÓS
*******************/
h6 {
  font-family: Montserrat;
  display: block;
  text-align: left;
  font-size: 0.9em;
  margin-top: 0.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  font-family: Montserrat;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  font-family: Montserrat;
  display: block;
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
}

.basic {
  background: #f2e6d6;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
}

.basic-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #20100d;
  font-family: Sunflower;
  font-style: normal;
  font-weight: 200;
  font-size: 4vw;
  text-decoration-line: underline;
  text-decoration-color: #b89b34;
  margin-bottom: 3rem;
}

.basic-2 {
  background: #f2e6d6;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  justify-content: center;
}

.basic-2-image{
  overflow-x: hidden;
  margin-bottom: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
}


.card {
  justify-content: center;
  color: #f9f9f9;
  display: flex;
  width: 17rem;
  height: 22rem;
  margin-bottom: 5rem;
  margin-right: 3rem;
  margin-left: 3rem;
  background: #20100d;
  border-radius: 0.5rem;
  align-items: center;
}

.card-body {
  padding: 2.5rem 2.75rem 1.875rem 2.5rem;
  align-items: center;
  justify-content: center;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Sacramento;
  text-align: center;
  font-size: 3em;
  color: #e5ac23;
}

.card-divisor {
  align-items: center;
  justify-content: center;
  height: 1px;
  margin-top: 0;
  margin-bottom: 2em;
  border: none;
  background-color: #f9f9f9;
}

.box-about {
  border-color: #20100d;
  border-style: solid;
  border-width: 0.4rem;
  display: flex;
  width: 30rem;
  height: 21rem;
  margin-top: 1.9rem;
  margin-bottom: 5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  background: #f2e6d6;
  align-items: center;
  justify-content: center;
}

.box-2 {
  align-items: center;
  justify-content: center;
  color: #f9f9f9;
  display: flex;
  width: 27rem;
  height: 18rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  background: #20100d;
}

.box-text-1 {
  padding: 3rem;
  font-family: montserrat;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box-text-2 {
  padding: 2.5rem;
  font-family: montserrat;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.box-text-3 {
  padding: 6rem;
  font-family: montserrat;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*******************
04. PRODUTOS
*******************/

@media only screen and (max-width: 600px) {
  .container-products {
    position: relative;
    background-image: url("./assets/background-coffe-beans.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;

    display: flex;
    flex-direction: column;
  }

  .container-products .title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
    font-family: Sunflower;
    font-style: normal;
    font-weight: 200;
    font-size: 6vw;
    margin-top: 2em;
    padding-bottom: 3vh;
    text-decoration-line: underline;
    text-decoration-color: #b89b34;
  }
  .container-products .slider {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 8vh;
  }
  .slider img {
    margin: 0 auto;
    max-width: 40vw !important;
  }
  .slider .product-details {
    color: white;
  }
  .slider .product-details h2 {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-size: 4vw;
  }
  .slider .product-details p {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    color: #b89b34;
    font-size: 4vw;
  }
  .slider .thumbnail {
    margin-left: 1vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container-products {
    position: relative;
    background-image: url("./assets/background-coffe-beans.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    background-size: 100%;
    display: flex;
    flex-direction: column;
  }

  .container-products .title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
    font-family: Sunflower;
    font-style: normal;
    font-weight: 200;
    font-size: 4vw;
    margin-top: 2em;
    padding-bottom: 3vh;
    text-decoration-line: underline;
    text-decoration-color: #b89b34;
  }
  .container-products .slider {
    width: 55%;
    margin: 0 auto;
    cursor: pointer;
    padding-bottom: 6vh;
  }
  .slider img {
    margin: 0 auto;
    max-width: 11vw !important;
  }
  .slider .product-details {
    color: white;
  }
  .slider .product-details h2 {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-size: 2vw;
  }
  .slider .product-details p {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    color: #b89b34;
    font-size: 2vw;
  }
  .slider .thumbnail {
    margin-left: 1vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container-products {
    position: relative;
    background-image: url("./assets/background-coffe-beans.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    background-size: 100%;
    display: flex;
    flex-direction: column;
  }

  .container-products .title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
    font-family: Sunflower;
    font-style: normal;
    font-weight: 200;
    font-size: 4vw;
    margin-top: 2em;
    text-decoration-line: underline;
    text-decoration-color: #b89b34;
  }
  .container-products .slider {
    width: 70vw;
    margin: 0 auto;
    cursor: pointer;
    padding-bottom: 8vh;
  }
  .slider img {
    margin: 0 auto;
    max-width: 16vw !important;
  }
  .slider .product-details {
    color: white;
  }
  .slider .product-details h2 {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-size: 1.7vw;
  }
  .slider .product-details p {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    color: #d8b63b;
    font-size: 1.4vw;
  }
  .slider .thumbnail {
    margin-left: 1vw;
  }
  button.slick-arrow:before {
    position: relative;
    left: -0.4vw;
    font-size: 2rem;
  }
}

/*******************
05. CONTATO
*******************/

.basic-contact{
  background: #f2e6d6;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
}

#contact{
 background-color: #f2e6d6;
 width: 100%;
 padding-top: 5rem;
 display:flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

/*União dos dados+título com o forms*/
.contact-dados{
  /* display: flex;
  align-items: stretch;
  justify-content:center; */

  /*Tste*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*Fom do teste*/
}

/*União do título e os dados*/
.uniao{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-right: 2.5em;
  padding-left: 2.5em;
  /* margin-left: 5rem; */
}

.title-contact{
  background-color: #f2e6d6;
  color: #20100d;
  font-family: Sunflower;
  font-style: normal;
  font-weight: 200;
  font-size: 6.5vw;
  text-decoration-line: underline;
  text-decoration-color: #b89b34;
  text-align: center;
}

.text-contact-data {
  background-color: #f2e6d6;
  color: #20100d;
  font-family: Montserrat;
  font-size: 1.2vw;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}

.text-contact-data i{
  margin-right: 1em;
}

.formulario {
  background-color: #f2e6d6;

  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.maps {
  display: flex;
  position: relative;
  padding-bottom: 5rem;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  background-color: #f2e6d6;
}

.maps iframe {
  position: relative;
  width: 83vw;
  height: 60vh;
  border: none;
  justify-content: center;
  align-items: center;
}

/*******************
05. FOOTER
*******************/
.container-footer {
  display: flex;
  flex-direction: row;
}

footer{
  width: 100%;
  height: 16vh;
  background-color: #20100d;
  font-family: Montserrat;
  color: #b89b34;
  font-weight: bold;
}

#nomeEmpresa{
  font-size: 2vw;
  margin-top: 1.5em;
  margin-left: 1em;
}

#copyright{
  font-size: 1vw;
  margin-top: 6em;
  margin-left: 22em;
  margin-right: 24em;
}

.redesocial{
  display:flex;
  justify-content:center;
  align-items: center;
  font-size: 2vw;
  /* margin-top: 0.4em; */
}

.fab{
  color:#b89b34;
  margin-right: 0.5em;
}

/*******************
06. MEDIA
*******************/

@media (max-width: 768px) {
  html {
    font-size: 100%;
  }
  .basic-2 {
    flex-direction: column;
  }
  #reverse {
    flex-direction: column-reverse;
  }
  .basic-2-image #icon-1 {
    width: 21rem;
  }
  .basic-2-image #icon-2 {
    width: 21rem;
  }
  .basic-2-image #icon-3 {
    width: 21rem;
  }
  .box-about {
    width: 20rem;
    height: 20rem;
  }
  .box-2 {
    height: 17rem;
  }
  .box-text-1 {
    font-size: 70%;
  }
  .box-text-2 {
    font-size: 60%;
  }
  .box-text-3 {
    font-size: 75%;
  }
  .basic-title {
    font-size: 2rem;
  }
  .container-products .title {
    font-size: 2rem;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 100%;
  }
  .basic-2-image #icon-1 {
    width: 30rem;
  }
  .basic-2-image #icon-2 {
    width: 30rem;
  }
  .basic-2-image #icon-3 {
    width: 30rem;
  }
  .box-about {
    width: 17rem;
    height: 17rem;
  }
  .box-2 {
    height: 15rem;
    width: 15rem;
  }
  .box-text-1 {
    font-size: 60%;
  }
  .box-text-2 {
    font-size: 55%;
  }
  .box-text-3 {
    font-size: 65%;
  }
  .basic-title {
    font-size: 2rem;
  }
}

/* @media contato*/

@media (max-width: 1024px) {
  html {
    font-size: 100%;
  }
  
  .contact-dados{
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
}
