.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Header */

.container-navbar{
  display: flex;
 border: 1px solid #C3FFFF;
 margin: 0px;
}


#header {
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(32, 16, 13, 0.95);
  height: 7em;
  line-height: 3em;
  box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
}

  #header h1 {
    position: absolute;
    left: 1em;
    top: 0;
    height: 3em;
    line-height: 3em;
    cursor: default;
  }

    #header h1 a {
      font-size: 1.90em;
    }

  #header nav {
    position: absolute;
    right: 0.5em;
    top: 0;
    height: 3em;
    line-height: 3em;
  }

    #header nav ul {
      margin: 0;
    }

      #header nav ul li {
        display: inline-block;
        margin-left: 0.5em;
        font-size: 1.99em;
        color:rgba(193, 143, 29, 0.95)
      }

        #header nav ul li a {
          display: block;
          color: inherit;
          text-decoration: none;
          height: 3em;
          line-height: 3em;
          padding: 0 0.5em 0 0.5em;
          outline: 0;
        }

  @media screen and (max-width: 736px) {

    #header {
      height: 2.5em;
      line-height: 2.5em;
    }

      #header h1 {
        text-align: center;
        position: relative;
        left: 0;
        top: 0;
        height: 2.5em;
        line-height: 2.5em;
      }

        #header h1 a {
          font-size: 1em;
        }

      #header nav {
        display: none;
      }

  }

body {
  padding-top: 3em;
}

  @media screen and (max-width: 736px) {

    body {
      padding-top: 2.5em;
    }

  }



/* BANNER */

#dvslider {
  width: 100%;
  height: 80vh;
  position: relative;
}


/* PRODUTOS */
.container-products {
  position: relative;
  background: #20100d;
  padding: 0;
  height: 100vh;
}
.container-products .title {
  position: relative;
  color: #ffffff;
  font-family: Sunflower;
  font-style: normal;
  font-weight: 300;
  font-size: 5vw;
  top: 20vh;
  text-decoration-line: underline;
  text-decoration-color: #b89b34;
}
.container-products .slider {
  position: relative;
  padding: 0 10px;
  top: 24vh;
  width: 70%;
  left: 15vw;
}
.slider img {
  max-width: 15vw !important;
}
.slider .product-details {
  color: white;
}
.slider .product-details h2 {
  font-family: Montserrat;
  font-size: 2vw;
}
.slider .product-details p {
  font-family: Montserrat;
  color: #b89b34;
  font-size: 1.7vw;
}

/* PRODUTOS */
