@media only screen and (max-width: 600px) {
  input[type="email"],
  input[type="text"],
  input[type="number"],
  input[type="textarea"],
  textarea,
  select {
    width: 65vw;
    height: 6vh;
    background-color: #ffffff;
    font-family: Montserrat;
  }
}
@media only screen and (min-width: 600px) {
  input[type="email"],
  input[type="text"],
  input[type="number"],
  input[type="textarea"],
  textarea,
  select {
    width: 60vw;
    height: 8vh;
    background-color: #ffffff;
    font-family: Montserrat;
  }
}
@media only screen and (min-width: 1200px) {
  input[type="text"],
  input[type="number"],
  input[type="textarea"],
  textarea,
  select {
    width: 40vw;
    height: 6vh;
    background-color: #ffffff;
    font-family: Montserrat;
  }
}

/* input[type="email"],
input[type="text"],
input[type="number"],
input[type="textarea"],
textarea,
select {
  width: 40vw;
  height: 6vh;
  background-color: #ffffff;
  font-family: Montserrat;
} */

/* button[type="button"] {
  width: 12vw;
  height: 8vh;
  margin-top: 1rem;
  flex-wrap: nowrap;
  background-color:#b89b34; 
} */
