input[type="email"],
input[type="text"],
input[type="number"],
input[type="textarea"],
textarea,
select {
  width: 40vw;
  height: 6vh;
  background-color: #ffffff;
  font-family: Montserrat;
}

/* button[type="button"] {
  width: 12vw;
  height: 8vh;
  margin-top: 1rem;
  flex-wrap: nowrap;
  background-color:#b89b34; 
} */

