input[type="email"],
input[type="text"],
input[type="number"],
input[type="textarea"],
textarea,
select {
  width: 50vw;
  background-color: #ffffff;
}



/* label {
  margin-top: 1rem;
}

label.checkbox {
  font-weight: normal;
} */

button[type="submit"] {
  margin-top: 1rem;
  background-color:#b89b34;
}

